*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

body{
	/*background: linear-gradient(#5AB58E, #CF7A59);*/
	background: linear-gradient(to bottom left, #5ED38A,  #E38463);
	background-repeat: no-repeat;
}

/* CABECERA */ 

.txt-cabecera{
	color: white;
    margin-top: 10px;
    margin-bottom: 90px;
}